.home-page {

    .text-zone {
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        width: 40%;
        max-height: 90%;
    }


    h1 {
        color: #fff;
        font-size: 53px;
        margin: 0;
        font-family: 'Coolvetica';

        .name {
            display: inline-flex;
            align-items: center;
        }

        img {
            width:50px;
            margin-left: 8px;
            vertical-align: middle;
            height: 60px;
        }
    }
}