.home-page {

    .text-zone {
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        width: 40%;
        max-height: 90%;
    }


    h1 {
        color: #fff;
        font-size: 53px;
        margin: 0;
        font-family: 'Coolvetica';

        .name {
            display: flex;
            align-items: center;
            width: 500px;
        }

        // img {
        //     width:40px;
        //     margin-right: 8px;
        //     vertical-align: middle;
        //     height: 60px;
        // }
    }
    h2 {
        color: #ffd700;
    }

    Link {
        display: flex;
        align-self: center;
        color: white;
    }
}